.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-box .sc-title {
  font-size: 2.8vw;
  line-height: 1.35;
  font-weight: bold;
  letter-spacing: -2.89px;
  color: #212529;
}
@media (max-width: 1023px) {
  .title-box .sc-title {
    display: block;
    font-size: 5vw;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title-box .sc-title {
    font-size: 7vw;
  }
}
.title-box .desc {
  padding-top: 30px;
  font-size: 18px;
  letter-spacing: -1px;
}
@media (max-width: 1023px) {
  .title-box .desc {
    padding-top: 15px;
    margin-top: 19px;
    font-size: 2vw;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .title-box .desc {
    font-size: 3vw;
  }
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
}

.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

button {
  border: none;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "SpoqaHanSans", sans-serif;
  color: #222;
}

@font-face {
  font-family: "SpoqaHanSans";
  src: url("../font/SpoqaHanSansRegular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "SpoqaHanSans";
  src: url("../font/SpoqaHanSansBold.woff2") format("woff2");
  font-weight: 700;
}
.footer {
  padding: 75px 20px;
  font-size: 15px;
  letter-spacing: -0.83px;
  background: #ffefff;
  color: #212529;
}
@media (max-width: 1023px) {
  .footer {
    padding: 50px 20px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 20px;
    font-size: 13px;
  }
}
.footer .inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .inner {
    flex-direction: column;
  }
}
.footer .address {
  margin-top: 20px;
}
@media (max-width: 1023px) {
  .footer .address {
    margin-top: 0;
  }
}
.footer .line-box {
  padding-top: 7px;
}
.footer .addr {
  position: relative;
  display: inline-block;
}
.footer .addr .strong {
  padding-right: 9px;
  color: #727777;
}
.footer .addr + .addr::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 20px;
  background: #c9cccc;
}
@media (max-width: 767px) {
  .footer .addr + .addr::before {
    display: none;
  }
}
.footer .addr.tel::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 20px;
  background: #c9cccc;
}
@media (max-width: 767px) {
  .footer .addr.tel::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer .addr.mobile::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 20px;
    background: #c9cccc;
  }
}
@media (max-width: 767px) {
  .footer .addr.mobile-margin {
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  .footer .addr.mobile-line {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .footer .m-box {
    display: block;
    padding-top: 47px;
  }
}
.footer .link-privacy {
  display: block;
  padding-top: 27px;
  font-weight: bold;
  color: #212529;
}
@media (max-width: 767px) {
  .footer .link-privacy {
    padding-top: 7px;
  }
}
.footer .copy {
  padding-top: 8px;
}
.footer .sns-list {
  display: flex;
}
@media (max-width: 767px) {
  .footer .sns-list {
    margin-top: 30px;
  }
}
.footer .sns-item {
  padding-right: 10px;
}
.footer .link-sns {
  display: block;
  height: 36px;
  width: 36px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 500;
}
@media (max-width: 1023px) {
  .header {
    height: 64px;
  }
}
.header.scroll {
  background: #fff;
}
.header.scroll .link-logo path {
  fill: #FA6EE3;
}
.header.scroll .link-gnb {
  color: #212529;
}
.header.scroll .link-gnb.active::after {
  content: "";
  position: absolute;
  display: flex;
  left: 8px;
  right: 8px;
  bottom: 20px;
  height: 2px;
  background: #FA6EE3;
}
@media (max-width: 1023px) {
  .header.scroll .link-gnb.active::after {
    display: none;
  }
}
.header.scroll .link-gnb:hover::after {
  content: "";
  position: absolute;
  display: flex;
  left: 8px;
  right: 8px;
  bottom: 20px;
  height: 2px;
  background: #FA6EE3;
}
@media (max-width: 1023px) {
  .header.scroll .link-gnb:hover::after {
    display: none;
  }
}
.header.scroll .btn-menu .hambg {
  background: #FA6EE3;
}
.header .inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  padding: 25px 0;
  z-index: 100;
}
@media (max-width: 767px) {
  .header .logo {
    left: 15px;
  }
}
.header .link-logo {
  display: block;
  width: 100px;
  height: auto;
}
@media (max-width: 1023px) {
  .header .link-logo {
    width: 80px;
  }
  .header .link-logo path {
    fill: #FA6EE3;
  }
}
@media (max-width: 767px) {
  .header .link-logo {
    width: 60px;
  }
}
.header .link-logo svg {
  width: 100%;
  height: 100%;
}
.header .gnb {
  width: 100%;
  height: 100%;
  z-index: 50;
}
@media (max-width: 1023px) {
  .header .gnb {
    display: none;
    padding-top: 64px;
  }
}
.header .gnb.active {
  display: block;
  width: 100%;
  background: #fff;
}
.header .gnb-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding-bottom: 12px;
}
@media (max-width: 1023px) {
  .header .gnb-list {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-bottom: 0;
    background: #fff;
    box-shadow: 0 4px 4px -4px #000;
  }
}
.header .gnb-item {
  padding: 0 22px 5px;
}
@media (max-width: 1023px) {
  .header .gnb-item {
    width: 100%;
    padding: 0;
    text-align: left;
    background: #fff;
  }
}
.header .link-gnb {
  position: relative;
  padding: 24px 12px;
  font-size: 18px;
  color: #fff;
}
@media (max-width: 1023px) {
  .header .link-gnb {
    position: static;
    display: block;
    padding: 15px 30px;
    font-size: 15px;
    color: #212529;
  }
}
.header .link-gnb.active::after {
  content: "";
  position: absolute;
  display: flex;
  left: 8px;
  right: 8px;
  bottom: 20px;
  height: 2px;
  background: #fff;
}
@media (max-width: 1023px) {
  .header .link-gnb.active::after {
    display: none;
  }
}
.header .link-gnb:hover::after {
  content: "";
  position: absolute;
  display: flex;
  left: 8px;
  right: 8px;
  bottom: 20px;
  height: 2px;
  background: #fff;
}
@media (max-width: 1023px) {
  .header .link-gnb:hover::after {
    display: none;
  }
}
.header .btn-menu {
  display: none;
  z-index: 50;
}
@media (max-width: 1023px) {
  .header .btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
  }
}
@media (max-width: 767px) {
  .header .btn-menu {
    right: 15px;
  }
}
@media (max-width: 1023px) {
  .header .btn-menu .hambg {
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 10px;
    margin: 6px 0;
    background: #FA6EE3;
  }
}
@media (max-width: 767px) {
  .header .btn-menu .hambg {
    width: 20px;
    margin: 4px 0;
  }
}
.header .download {
  display: none;
}
@media (max-width: 767px) {
  .header .download {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    transition: 0.5s;
  }
}
.header .download .link-down {
  display: none;
}
@media (max-width: 767px) {
  .header .download .link-down {
    display: block;
    position: absolute;
    bottom: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 58px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    background: #FA6EE3;
    color: #fff;
    transition: 0.5s;
  }
}

.sc-visual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
}
.sc-visual .img-area {
  width: 100%;
  height: 100vh;
}
.sc-visual .img-area img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-visual .dimmed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.sc-visual .main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
  color: #fff;
  opacity: 0;
}
@media (max-width: 767px) {
  .sc-visual .main-text {
    width: 90%;
  }
}
.sc-visual .main-text .txtLine01 {
  display: block;
  font-size: 85px;
  letter-spacing: -2px;
}
@media (max-width: 1023px) {
  .sc-visual .main-text .txtLine01 {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .sc-visual .main-text .txtLine01 {
    font-size: 10vw;
  }
}
.sc-visual .main-text .txtLine02 {
  display: block;
  padding-top: 30px;
  font-size: 30px;
}
@media (max-width: 1023px) {
  .sc-visual .main-text .txtLine02 {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .sc-visual .main-text .txtLine02 {
    font-size: 3.5vw;
    padding-top: 20px;
  }
}
.sc-visual .sub-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.sc-visual .sub-text .sub-desc {
  padding: 15px 0;
  font-size: 30px;
  letter-spacing: -0.5px;
  opacity: 0;
}
@media (max-width: 1023px) {
  .sc-visual .sub-text .sub-desc {
    font-size: 2.5vw;
  }
}
@media (max-width: 767px) {
  .sc-visual .sub-text .sub-desc {
    padding: 10px 0;
    font-size: 4.5vw;
  }
}
@media (max-width: 767px) {
  .sc-visual .sub-text {
    width: 100%;
    text-align: center;
  }
}
.sc-visual .scroll {
  display: none;
}
@media (max-width: 767px) {
  .sc-visual .scroll {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 88px;
  }
}
@media (max-width: 767px) {
  .sc-visual .scroll .scroll-ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
  }
}

.sc-info {
  margin-top: 284vh;
}
@media (max-width: 1200px) {
  .sc-info {
    overflow: hidden;
  }
}
.sc-info .inner {
  padding-left: 60px;
}
@media (max-width: 1023px) {
  .sc-info .inner {
    padding-left: 10px;
  }
}
.sc-info .info-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin-top: 80px;
}
@media (max-width: 1023px) {
  .sc-info .info-area {
    height: 500px;
  }
}
.sc-info .text-box {
  padding: 50px 0;
  height: 600px;
  z-index: 2;
}
@media (max-width: 1023px) {
  .sc-info .text-box {
    height: 440px;
    padding: 50px 0;
  }
}
.sc-info .text-list {
  display: flex;
  flex-direction: column;
  height: 600px;
  font-size: 17px;
  font-weight: bold;
  color: #c8c8c8;
}
@media (max-width: 1023px) {
  .sc-info .text-list {
    height: 440px;
    padding-left: 15px;
  }
}
.sc-info .text-item {
  flex: 1;
}
.sc-info .text-item .num {
  display: none;
  font-size: 80px;
  margin-top: -20px;
}
.sc-info .text-item.active {
  color: #000;
}
.sc-info .text-item.active .num {
  display: block;
}
@media (max-width: 767px) {
  .sc-info .text-item.active .num {
    font-size: 13vw;
  }
}
.sc-info .text-item.active .desc {
  position: relative;
  font-size: 17px;
  color: rgb(33, 37, 41);
}
.sc-info .text-item.active .desc::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #FA6EE3;
  border: none;
  margin-right: 0;
  margin-left: -80px;
  z-index: -1;
  transition: 0.5s;
}
.sc-info .link-text {
  display: block;
}
.sc-info .link-text .desc::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #c8c8c8;
  margin-right: 20px;
  vertical-align: -3px;
}
@media (max-width: 1023px) {
  .sc-info .link-text .desc::before {
    width: 12px;
    height: 12px;
    margin-right: 10px;
  }
}
.sc-info .img-box {
  position: absolute;
  left: 220px;
  width: 940px;
  height: 100%;
  border-radius: 290px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-info .img-box {
    left: 140px;
    width: 100%;
    border-radius: 290px 0px 0px 290px;
  }
}
@media (max-width: 767px) {
  .sc-info .img-list {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .sc-info .img-item {
    width: 100%;
  }
}
.sc-info .img-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc-review {
  padding: 310px 0 210px;
}
@media (max-width: 1023px) {
  .sc-review {
    padding: 100px 0 100px;
  }
}
@media (max-width: 767px) {
  .sc-review {
    padding: 50px 0 50px;
  }
}
.sc-review .inner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 30px 0 100px;
}
@media (max-width: 1023px) {
  .sc-review .inner {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}
.sc-review .text-area {
  width: 550px;
}
@media (max-width: 1023px) {
  .sc-review .text-area {
    width: 100%;
  }
}
.sc-review .text-area .sc-title {
  padding-top: 85px;
}
.sc-review .text-area .desc {
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .sc-review .text-area .desc {
    padding-bottom: 20px;
  }
}
.sc-review .group-box {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-left: -19px;
}
@media (max-width: 1023px) {
  .sc-review .group-box {
    width: 484px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .sc-review .group-box {
    width: 100%;
    justify-content: center;
    padding-bottom: 0;
  }
}
.sc-review .group-box .sort-wrap {
  position: relative;
}
.sc-review .group-box .sort-wrap .current {
  position: absolute;
  top: 12px;
  left: 0;
  border-radius: 30px;
  background: #FA6EE3;
  opacity: 0.5;
  z-index: -1;
}
.sc-review .group-box .sort {
  display: inline-block;
  padding: 0 18px;
  margin-top: 12px;
  font-size: 30px;
  line-height: 51px;
  color: #2f2f2f;
}
@media (max-width: 1023px) {
  .sc-review .group-box .sort {
    font-size: 28px;
    line-height: 40px;
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .sc-review .group-box .sort {
    padding: 0 15px;
    font-size: 3.5vw;
    line-height: 30px;
  }
}
.sc-review .img-area {
  width: 360px;
  height: 680px;
  border-radius: 20px;
  box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05), 0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.05);
  margin-left: 65px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-review .img-area {
    width: 330px;
    height: 620px;
    margin: 55px 0 98px;
  }
}
@media (max-width: 767px) {
  .sc-review .img-area {
    width: 270px;
    height: 480px;
  }
}
.sc-review .img-list {
  width: 360px;
  height: 680px;
}
.sc-review .img-item {
  width: 100%;
  height: 100%;
}
.sc-review .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc-shopping {
  position: relative;
  padding-top: 160px;
  background: pink;
}
@media (max-width: 767px) {
  .sc-shopping {
    padding-top: 100px;
  }
}
.sc-shopping .sc-title {
  color: #fff;
  text-align: center;
}
.sc-shopping .num-list {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 45px;
}
@media (max-width: 767px) {
  .sc-shopping .num-list {
    margin-top: 50px;
  }
}
.sc-shopping .num-item {
  opacity: 0.5;
}
.sc-shopping .num-item.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  opacity: 1;
}
.sc-shopping .num-item.swiper-pagination-bullet-active .desc {
  display: block;
}
.sc-shopping .num-item .desc {
  display: none;
  position: absolute;
  left: 50%;
  bottom: -60px;
  transform: translateX(-50%);
  font-size: 18px;
}
@media (max-width: 767px) {
  .sc-shopping .num-item .desc {
    width: 100%;
    bottom: -50px;
    font-size: 15px;
  }
}
.sc-shopping .swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 20px;
  background: transparent;
  color: #fff;
}
@media (max-width: 767px) {
  .sc-shopping .swiper-pagination-bullet {
    width: 34px;
    height: 34px;
    margin: 0 14px;
    line-height: 32px;
  }
}
.sc-shopping .desc-box {
  margin-top: 25px;
}
@media (max-width: 767px) {
  .sc-shopping .desc-box {
    margin-top: 15px;
  }
}
.sc-shopping .desc-box .desc {
  position: absolute;
  top: 50px;
  left: 0;
  margin-top: 7px;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .sc-shopping .desc-box .desc {
    font-size: 15px;
  }
}
.sc-shopping .slide-box {
  width: 370px;
}
@media (max-width: 767px) {
  .sc-shopping .slide-box {
    width: 250px;
  }
}
.sc-shopping .img-list {
  width: 370px;
  height: 507px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .sc-shopping .img-list {
    width: 250px;
    height: 363px;
    margin-top: 80px;
  }
}
.sc-shopping .img-list .img-item {
  width: 370px;
  height: 507px;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05), 0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.05);
  overflow: hidden;
}
@media (max-width: 767px) {
  .sc-shopping .img-list .img-item {
    width: 100%;
    height: 100%;
  }
}
.sc-shopping .img-list .img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sc-event {
  position: relative;
  margin: 310px 0;
}
@media (max-width: 1023px) {
  .sc-event {
    margin: 200px 0;
    height: auto;
  }
}
@media (max-width: 767px) {
  .sc-event {
    margin: 100px 0;
  }
}
.sc-event::after {
  content: "";
  position: absolute;
  bottom: 145px;
  width: 100%;
  height: 1px;
  background: #ddd;
}
@media (max-width: 1023px) {
  .sc-event::after {
    display: none;
  }
}
.sc-event .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  z-index: 1;
}
@media (max-width: 1023px) {
  .sc-event .inner {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.sc-event .title-box {
  width: 50%;
  padding: 100px 0 100px 40px;
}
@media (max-width: 1023px) {
  .sc-event .title-box {
    width: 100%;
    padding: 0 0 70px 0;
  }
}
.sc-event .img-slide {
  width: 360px;
  z-index: 2;
}
@media (max-width: 1023px) {
  .sc-event .img-slide {
    width: 100%;
  }
}
.sc-event .slide-list {
  width: 100%;
}
.sc-event .slide-item {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .sc-event .slide-item {
    height: 65vw;
  }
}
@media (max-width: 767px) {
  .sc-event .slide-item {
    height: 100vw;
  }
}
.sc-event .slide-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-event .thumb-box {
  position: absolute;
  right: 75px;
  bottom: 50px;
  width: 450px;
}
@media (max-width: 1023px) {
  .sc-event .thumb-box {
    display: none;
  }
}
.sc-event .thumb-list {
  display: flex;
}
.sc-event .thumb-item {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
}
.sc-event .thumb-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .sc-ingredient {
    margin-top: 300px;
  }
}
@media (max-width: 767px) {
  .sc-ingredient {
    margin-top: 0;
  }
}
.sc-ingredient .title-box {
  margin-bottom: 100px;
  text-align: center;
}
@media (max-width: 1023px) {
  .sc-ingredient .title-box {
    width: 100%;
  }
}
.sc-ingredient .video-area {
  width: 100%;
}
@media (max-width: 1023px) {
  .sc-ingredient .video-area {
    width: 100%;
  }
}