.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 500;
    @include tablet {
        height: 64px;
    }
    &.scroll {
        background: #fff;
        .link-logo {
            path {
                fill : #FA6EE3;
            }
        }
        .link-gnb {
            color: #212529;
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    display: flex;
                    left: 8px;
                    right: 8px;
                    bottom: 20px;
                    height: 2px;
                    background: #FA6EE3;
                    @include tablet {
                        display: none;
                    }
                }
            }
            &:hover {
                &::after {
                    content: '';
                    position: absolute;
                    display: flex;
                    left: 8px;
                    right: 8px;
                    bottom: 20px;
                    height: 2px;
                    background: #FA6EE3;
                    @include tablet {
                        display: none;
                    }
                }
            }
        }
        .btn-menu {
            .hambg {
                background: #FA6EE3;
            }
        }
    }
    .inner {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 30px;
        height: 100%;
        padding: 25px 0;
        @include mobile {
            left: 15px;
            z-index: 100;
        }
    }
    .link-logo {
        display: block;
        width: 100px;
        height: auto;
        @include tablet {
            width: 80px;
            path {
                fill : #FA6EE3;
            }
        }
        @include mobile {
            width: 60px;
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .gnb {
        width: 100%;
        height: 100%;
        z-index: 50;
        @include tablet {
            display: none;
            padding-top: 64px;
        }
        &.active {
            display: block;
            width: 100%;
            background: #fff;
        }
    }
    .gnb-list {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        padding-bottom: 12px;
        @include tablet {
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding-bottom: 0;
            background: #fff;
            box-shadow: 0 4px 4px -4px #000;
        }
    }
    .gnb-item {
        padding: 0 22px 5px;
        @include tablet {
            width: 100%;
            padding: 0;
            text-align: left;
            background: #fff;
        }
    }
    .link-gnb {
        position: relative;
        padding: 24px 12px;
        font-size: 18px;
        color: #fff;
        @include tablet {
            position: static;
            display: block;
            padding: 15px 30px;
            font-size: 15px;
            color: #212529;
        }
        &.active {
            &::after {
                content: '';
                position: absolute;
                display: flex;
                left: 8px;
                right: 8px;
                bottom: 20px;
                height: 2px;
                background: #fff;
                @include tablet {
                    display: none;
                }
            }
        }
        &:hover {
            &::after {
                content: '';
                position: absolute;
                display: flex;
                left: 8px;
                right: 8px;
                bottom: 20px;
                height: 2px;
                background: #fff;
                @include tablet {
                    display: none;
                }
            }
        }
    }
    .btn-menu {
        display: none;
        z-index: 50;
        @include tablet {
            display: block;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            background: transparent;
            cursor: pointer;
        }
        @include mobile {
            right: 15px;
        }
        .hambg {
            @include tablet {
                display: block;
                width: 24px;
                height: 2px;
                border-radius: 10px;
                margin: 6px 0;
                background: #FA6EE3;
            }
            @include mobile {
                width: 20px;
                margin: 4px 0;
            }
        }
    }
    .download {
        display: none;
        @include mobile {
            display: block;
            position: relative;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            padding: 0 40px;
            transition: 0.5s;
        }
        .link-down {
            @include mobile {
                position: absolute;
                bottom: 165px;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                height: 58px;
                border-radius: 6px;
                font-size: 18px;
                font-weight: bold;
                line-height: 58px;
                text-align: center;
                background: #FA6EE3;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
}
