.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.title-box {
    .sc-title {
        font-size: 2.8vw;
        line-height: 1.35;
        font-weight: bold;
        letter-spacing: -2.89px;
        color: #212529;
        @include tablet {
            display: block;
            font-size: 40px;
            line-height: 42px;
            text-align: center;
        }
    }
    .desc {
        padding-top: 30px;
        font-size: 18px;
        letter-spacing: -1px;
        @include tablet {
            padding-top: 15px;
            margin-top: 19px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
    }
}
.inner {
    max-width: 1140px;
    margin: 0 auto;
}
.bg-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: -1;
    opacity: 0;
}