@font-face {
    font-family: 'SpoqaHanSans';
    src: url('../font/SpoqaHanSansRegular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'SpoqaHanSans';
    src: url('../font/SpoqaHanSansBold.woff2') format('woff2');
    font-weight: 700;
}